.one{
    width: 15em;
    background-color: brown;
    float: left;
    display: block;
}
.two{
    background-color: aqua;
    margin-bottom: 0.2em;
    margin-left: 15em;
    
    
}
.three{
    background-color: aquamarine;
    margin-bottom: 0.2em;
    margin-left: 15em;
    
}
.four{
    text-align: left;
    background-color: blueviolet;}
    
.img_center{
    width: 20%;
    float: right;  
}
.clear{
    clear: both;
    }