.blocks1 {
    background-repeat: no-repeat;
    background-color: aliceblue;
    background-position: -430px -1190px;
    width: 140px;
    height: 200px;
    float: left;
    
}
.blocks2 {
    background-repeat: no-repeat;
    background-color: aqua;
    background-position: -280px -1190px;
    margin-left: -30px;
    width: 140px;
    height: 200px;
    float: left;
}
.blocks3 {
    background-repeat: no-repeat;
    background-color: azure;
    background-position: -0px -1788px;
    margin-left: -30px;
    width: 140px;
    height: 200px;
    float: left;
    
}
.blocks4 {
    background-repeat: no-repeat;
    background-color: bisque;
    background-position: -287px -1388px;
    margin-left: -40px;
    width: 140px;
    height: 200px;
    float: left;
}